{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block navbar %}
    {% include 'espace_client/navbar_authenticated.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-grey" style="padding-top: 55px;">
    </div>
{% endblock %}
