{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block navbar %}
    {% include 'espace_client/navbar_authenticated.html.twig' %}
{% endblock %}

{% block body %}
    <style>
        /* webkit solution */
        ::-webkit-input-placeholder { text-align:right; }
        /* mozilla solution */
        input:-moz-placeholder { text-align:right; }
    </style>
    <div class="container-fluid" style="padding-top: 55px;">
        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="container">
                    <legend>Consulter mes Comptes</legend>
                    <table class="table">
                        <tbody>
                        {% for compte in comptes %}
                            <tr>
                                <td>
                                    <a class="btn btn-outline-primary my-2 my-sm-0"
                                       href="{{ path('clients_compte_details', {compte_id: compte.id}) }}"
                                       role="button"
                                    >{{ compte.typeLbl }} - solde</a>
                                </td>
                                <td>
                                    <input class="form-control mr-sm-2"
                                           style="max-width: 300px;"
                                           type="search"
                                           placeholder="{{ compte.solde | number_format(2, ',', ' ') }} €">
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
