<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://clients.banquedauphine.online/"><img src="imgFront/logo-dauphine.png" height="30" width="97" ></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/" title="Consulter mes comptes" ><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="hidden-xs">Consulter mes comptes</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Virements<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/virements/nouveau" title="Faire un virement" style="color: black!important;"><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="hidden-xs">Faire un virement</span></a></li>
                        <li><a href="/virements/beneficiaires/ajout" title="Ajouter un bénéficiaire" style="color: black!important;"><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="hidden-xs">Ajouter un bénéficiaire</span></a></li>
                    </ul>
                </li>

                <li><a href="/commander/chequier" title="Demander un chéquier" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="hidden-xs">Demander un chéquier</span></a></li>
                <li><a href="/commander/cb" title="Demander une CB" ><i class="fa fa-history" aria-hidden="true"></i> <span class="hidden-xs">Demander une CB</span></a></li>
                <li><a href="/logout" title="Se déconnecter" ><i class="fa fa-history" aria-hidden="true"></i> <span class="hidden-xs">Se déconnecter</span></a></li>
            </ul>
        </div>
    </div>
</nav>
{#


<nav id="navbar-custom" class="navbar navbar-default navbar-fixed-left">
    <div class="navbar-header">
        <!--<a class="navbar-brand" href="#">Brand</a>-->
    </div>
    <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#myPage"><img src="imgFront/logo-dauphine.png" height="30" width="97" ></a>
        </li>
        <li><a href="ConsulterCompte.php" title="Consulter mes comptes" ><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="hidden-xs">Consulter mes comptes</span></a></li>
        <li><a href="FaireVirement.php" title="Faire un virement" ><i class="fa fa-tachometer" aria-hidden="true"></i> <span class="hidden-xs">Faire un virement</span></a></li>
        <li><a href="DemanderChequier.php" title="Demander un chéquier" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="hidden-xs">Demander un chéquier</span></a></li>
        <li><a href="DemanderCB.php" title="Demander une CB" ><i class="fa fa-history" aria-hidden="true"></i> <span class="hidden-xs">Demander une CB</span></a></li>
        <li><a href="AjouterBeneficiaire.php" title="Ajouter un bénéficiaire" ><i class="fa fa-history" aria-hidden="true"></i> <span class="hidden-xs">Ajouter un bénéficiaire</span></a></li>
        <li><a href="IndexFront.php" title="Se déconnecter" ><i class="fa fa-history" aria-hidden="true"></i> <span class="hidden-xs">Se déconnecter</span></a></li>


    </ul>
</nav>#}
