<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assetsBack/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Base de Données</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    {% block stylesheets %}
    <!-- Animation library for notifications   -->
    {#<link href="assetsBack/css/animate.min.css" rel="stylesheet"/>#}

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assetsBack/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    {#<link href="assetsBack/css/demo.css" rel="stylesheet" />#}


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assetsBack/css/pe-icon-7-stroke.css" rel="stylesheet" />

    {% endblock %}

    {#{% block dhtmlx %}
        <!-- DhtmlX -->
        <link rel="stylesheet" type="text/css" href="/assetsBack/js/dhtmlx/codebase/fonts/font_roboto/roboto.css"/>
        <link rel="stylesheet" type="text/css" href="/assetsBack/js/dhtmlx/codebase/dhtmlx.css"/>
        <script src="/assetsBack/js/dhtmlx/codebase/dhtmlx.js"></script>
    {% endblock %}#}

    {% block jquery_bootstrap_datables %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- Datatables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

        {#<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>#}
        {#<script src="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"></script>#}
        <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

        <!-- Datatables Buttons -->
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.bootstrap4.min.css">
        <script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

    {% endblock %}

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="assetsBack/img/sidebar-5.jpg">


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.banquedauphine.site" class="simple-text">
                    Banque Dauphine
                </a>
            </div>

            {% block navbar %}{% endblock %}
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">

                    </button>
                    <a class="navbar-brand" href="#">{{ context_entry }}</a>
                </div>
                <div class="collapse navbar-collapse">
                    {#<ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>#}

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="{{ path('backoffice_logout') }}">
                                <p>Se déconnecter</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                </div>
            </div>
        </nav>

        <div id="map">
            {% block body %}
            {% endblock %}
        </div>

    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left"></nav>

    </div>
</footer>

</body>



</html>
