<ul class="nav">
    <li>
        <a href="BackOffice.html">
            <i class="pe-7s-graph"></i>
            <p>Back Office</p>
        </a>
    </li>
    <li>
        <a href="Gestionnaires.html">
            <i class="pe-7s-user"></i>
            <p>Gestionnaires</p>
        </a>
    </li>
    <li>
        <a href="ComptesClients.html">
            <i class="pe-7s-id"></i>
            <p>Comptes Clients</p>
        </a>
    </li>
    <li>
        <a href="Virement.html">
            <i class="pe-7s-credit"></i>
            <p>Effectuer un Virement</p>
        </a>
    </li>
    <li class="active">
        <a href="BDD.html">
            <i class="pe-7s-search"></i>
            <p>Base de Données</p>
        </a>
    </li>
    <li>
        <a href="PlateformeTechnique.html">
            <i class="pe-7s-settings"></i>
            <p>Plateforme Technique</p>
        </a>
    </li>
</ul>

{#<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="imgFront/logo-dauphine.png" height="30" width="97" ></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#services">NOS GARANTIES</a></li>
                <li><a href="#portfolio">NOS PRODUITS</a></li>
                <li><a href="#pricing">NOS TARIFS</a></li>
                <li><a href="{{ path('ouvriruncompte2') }}">REJOIGNEZ-NOUS</a></li>
                <li><a href="{{ path('clients') }}">ESPACE CLIENT</a></li>
            </ul>
        </div>
    </div>
</nav>#}
