{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}

{% block navbar %}
    {% include 'espace_client/navbar_authenticated.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container-fluid bg-grey" style="padding-top: 55px;">
        {% block flash_messages %}
            {% include 'espace_client/flash_messages.html.twig' %}
        {% endblock %}


        <div class="container-fluid bg-grey">
            <div class="container">
                <legend>Effectuer un virement</legend>

                {{ form_start(client_virement_form) }}
                {#<div class="text-center">
                    <button type="submit" class="btn btn-primary">Valider la demande</button>
                </div>#}
                {{ form_end(client_virement_form) }}

            </div>

            {#<!--besoin de centrer le contenu-->
            <div class="media-body">
                <form>

                    <div class="row">
                        <div class="container">
                            <legend>Faire un virement</legend>
                            <label class="form-check-label" for="adresseChequier2">
                                <br>
                            </label>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <label for="compte">Compte émetteur</label>
                                    </td>
                                    <td>
                                        <select id="compte" class="form-control">
                                            <option selected>Sélection</option>
                                            <option>Compte Courant</option>
                                            <option>Compte Joint</option>
                                            <option>Compte d'Epargne</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="compte">Compte bénéficaire </label>
                                    </td>
                                    <td>
                                        <select id="compte" class="form-control">
                                            <option selected>Sélection</option>
                                            <option>Compte A</option>
                                            <option>Compte B</option>
                                            <option>Compte C</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="compte">Montant du virement </label>
                                    </td>
                                    <td>
                                        <input type="number" min="0" class="form-control" name="compte" required="required">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="compte">Date d'effet </label>
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" name="compte" required="required">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Valider la demande</button>
            </div>
        </div>
        #}

    </div>
</div>
{% endblock %}
