{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'inscription/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid" style="padding-top: 55px;">
    {% if app.session.flashbag.peek('success')|length > 0 %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if app.session.flashbag.peek('error')|length > 0 %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endblock %}
