{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'inscription/navbar.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid" style="padding-top: 35px;">
    Merci
</div>
{% endblock %}
