<!DOCTYPE html>
<html lang="en">
<head>
    <title>Merci pour votre demande d'inscription à la Banque Dauphine</title>
    <meta charset="utf-8">
</head>


<body>
    Hello {{ client.prenom }} !
</body>
</html>